body {
  font-family: system-ui, sans-serif;
  margin: 3rem;
}

h1.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sublink {
    font-size: 0.9rem;
    opacity: 0.7;
  }
}
